<ion-view title="Dashboard">
	<ion-nav-buttons side="left">
    	<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  	</ion-nav-buttons>
	<ion-content class="has-header">
		<ion-refresher
	    pulling-text="Pull to refresh..."
	    on-refresh="doRefresh()">
	  	</ion-refresher>

	  	<div class="list card" ng-repeat="item in payments">

			<div class="item item-header">
				<div class="row">
					<span ng-if="item.cash > 0">income</span>
					<span ng-if="item.cash < 0">outgo</span>
					<p class="balanced" ng-class="{'balanced': item.cash > 0, 'assertive': item.cash < 0, }">{{Math.abs(item.cash)}}</p>
				</div>
			</div>

			<div class="item item-body">
				<p ng-if="item.type == 20">
					Temprary payment. Remove dat: after {{item.time | date: 'dd MMMM yyyy'}}.
				</p>
				<p ng-if="item.bonus">
					Bank transfer <span ng-if="item.comment">{{item.comment}}</span>
				</p>
				<p ng-if="item.type != 20 && !tem.bonus">{{item.comment}}</p>
			</div>

			<div class="item item-footer">
				<div class="row">
					<div class="col"><p class="stable">{{item.time | date: 'dd MMMM yyyy, HH:mm'}}</p></div>
					<div class="col"><p class="dark">{{item.balance}}</p></div>
				</div>
			</div>
		</div>

	  	<ion-infinite-scroll
	  	ng-if="!isEnd"
	    on-infinite="loadMore()"
	    distance="1%">
	  	</ion-infinite-scroll>
	</ion-content>
</ion-view>
